<!-- <router-outlet></router-outlet> -->

<div style="min-height: 180vh;">
  <!-- Set minimum height to force a scrollbar -->
  <mat-toolbar >
    <mat-toolbar-row>

      <span><a><img class="logo1-width" src="assets/logo@2x.png" /></a></span>
     <span><label class="product">Products</label></span> 
      <label class="solutions">Solutions</label>
      <label class="pricing">Pricing</label>

      <span> <button class="button button1">Login</button></span>
      <button class="button button2">Get Started</button>

    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div>
  <mat-toolbar style="position: fixed; top: 0;background-color: white;top: 0;
  left: 0;
  height: 56px;
  width: 100%;" *ngIf="scrolled">
    <mat-toolbar-row>
      <span>
        <a><img class="logo2-width" src="assets/logo.png" /></a>
      <label class="product">Products</label>
      <label class="solutions">Solutions</label>
      <label class="pricing">Pricing</label>

      <button class="button button1">Login</button>
      <button class="button button2">Get Started</button>

      </span>
      
    </mat-toolbar-row>

  </mat-toolbar>
</div>

<div class="container">
  <html>

  <head>
  </head>

  <body class="body">

    <div>
      <img class="sim-width" src="assets/We make it Super Sim.svg" />
    </div>

    <div>
      <hr class="line-button">
    </div>

    <div>

    </div>
    <div><img class="circle-width" src="assets/circle.svg" /></div>
    <div>
      <img class="circlesmall-width" src="assets/blob-small.svg" />
    </div>
    <div>
      <img class="dottedimage1-width" src="assets/accounting_dots.svg" />
    </div>
    <div>
      <img class="dottedimage-width" src="assets/accounting_dots.svg" />
    </div>
    <div>
      <img class="collectimage-width" src="assets/collect_img-video.png" />
    </div>


    <div>
      <img class="wave-width" src="assets/sol_wave_bg.svg" />
    </div>



    <div>
      <img class="card1" src="assets/Rectangle Copy 23.svg" />
    </div>

    <div>
      <img class="card1img" src="assets/Get Paid Instantly.png" />
    </div>

    <div>
      <img class="card1Txt" src="assets/Quick cash disbursem.svg" />
    </div>
    <div>
      <img class="card1Txt2" src="assets/Get terms loans that.svg" />
    </div>


    <div>
      <img class="card2" src="assets/Rectangle Copy 23.svg" />
    </div>

    <div>
      <img class="card2img" src="assets/Low interest rate.png" />
    </div>

    <div>
      <img class="card2Txt" src="assets/Low-interest rate.svg" />
    </div>
    <div>
      <img class="card2Txt2" src="assets/Achieve your financi.svg" />
    </div>

    <div>
      <img class="card3" src="assets/Rectangle Copy 23.svg" />
    </div>

    <div>
      <img class="card3img" src="assets/Secure Payments.png" />
    </div>

    <div>
      <img class="card3Txt" src="assets/Zero Paperwork.svg" />
    </div>
    <div>
      <img class="card3Txt2" src="assets/Get started instantl.svg" />
    </div>

    <div>
      <img class="card4" src="assets/Rectangle 2.svg" />
    </div>

    <div>
      <img class="card4img" src="assets/freelancer_feature_icon_6@1.5x.png" />
    </div>

    <div>
      <img class="card4Txt" src="assets/Ace your business fi.svg" />
    </div>
    <div>
      <img class="card4Txt2" src="assets/Manage banking, acco.svg" />
    </div>

    <div>
      <img class="card5" src="assets/Rectangle Copy 23.svg" />
    </div>

    <div>
      <img class="card5img" src="assets/Covid.png" />
    </div>

    <div>
      <img class="card5Txt" src="assets/Loans to fight COVID.svg" />
    </div>
    <div>
      <img class="card6Txt2" src="assets/Zero EMI for first 3.svg" />
    </div>

    <div>
      <img class="txt2" src="assets/Boost your business.svg" />
    </div>

    <div>
      <img class="line3" src="assets/Line 3.svg" />
    </div>

    <div>
      <img class="hands" src="assets/Get your hands on a.svg" />
    </div>

    <mat-card class="mat-card" style="margin:2em;padding-top:0;padding-left:0;padding-right:0">
      <mat-card-header style="background:#E8EDFF; padding:10px 10px;border-radius: 10px;top:0.2px;position: relative;">


        <label style="left:80px;position:relative">Eligibility Calculator</label>
      </mat-card-header>
      <form autocomplete="off" [formGroup]="openForm" #formDirective="ngForm">

        <div>
        <label style="position: relative;top:20px;left: 30px;">Monthly Income</label> <br />
        <h4 style="position: relative;top:20px;left: 30px;">₹ {{silderValue}}</h4>
        <mat-slider class="slider" min="100000" max="300000" (input)="onInputChange($event)"></mat-slider> <br/>
        <label style="position: relative;top:20px;left: 30px;">₹ 100000</label> 
        <label style="position: relative;top:20px;left: 230px;">₹ 300000</label> 

        </div><br/>
          <div>
            <label style="position: relative;top:10px;left: 30px;">Monthly Income</label> <br />
            <h4 style="position: relative;top:10px;left: 30px;">₹ {{silderValue2}}</h4>
            <mat-slider class="slider1" min="10000" max="100000" (input)="onInputChangesilder2($event)"></mat-slider> <br/>
        </div>

          <div>
        <label class="form-field">Repayment Teure</label>
        <mat-form-field class="form-field">
          <mat-select formcontrol="repayment" [(value)]="slectedValue">
            <mat-option *ngFor="let option of businessTypes" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />

        <label class="form-field" >Do you have any existing loans?</label>
        <mat-slide-toggle class="form-field"  [checked]="isSlideChecked" color="primary" style="bottom:30px;
        position: relative;margin-left: 300px;"> </mat-slide-toggle>
        <br />
    

        <label class="form-field">EMI of existing loan (optional)</label>
        <mat-form-field class="form-field">
          <input matInput formControlName="emi">
        </mat-form-field>

       

      </div>

      </form>
    </mat-card>

    <div>
      <img class="group7" src="assets/Group 7.png" />
    </div>





  </body>

  </html>
</div>